/*-----------------------------專題探究學習(學生)：版型-----------------------------*/
@charset "utf-8";

html, body{
	height: 100%;							/*-----------全視窗height100%-----------*/
	margin: 0px;
	font-family: 微軟正黑體;
	overflow: hidden;
	background-color: #F1FAFA;
}
label{
	font-weight: bolder;
	vertical-align: top; 					/*---------------向上對齊---------------*/
}
#wrapper{
	height: 100%;
/*	background-color: red;*/
}
#header{
	height: 50px;
	padding: 16px 5px 14px 10px;
	background-color: #77DF88;	/*#77DF88*/
}
/*#header img{
	float: left;
	width: 58px;
	margin: 0px 10px 0px 5px;
}*/
#header #logo img{
	float: left;
	width: 58px;
	margin: 0px 10px 0px 5px;
}
#header #sub_logo img{
	float: left;
	width: 83%;
}
#header button{
	float: right;
	margin-right: 20px;
}
/*#topic{*/									/*------------------標題------------------*/
/*	margin: 0px;
	font-size: 180%;
	letter-spacing: 5px;
}*/
/*#sub_topic{*/								/*-----------------副標題-----------------*/
	/*margin: 0px;
	font-size: 120%;
}*/
#title{										/*-----------------子標題-----------------*/
	margin: 0px;
	text-align: center;
}
#nav{
	padding: 8px 0px 0px 40px;
/*	background-color: green;*/
}
#nav button{
	width: 10%;
	margin: 8px 15px -9px 0px;
	font-size: 15px;
	font-weight: bolder;
	line-height: 34px;
	color: #FFFFFF;
	text-align: center;
	background-color: #70D68A;
	border: 0px;
	border-radius: 8px;
	display: inline-block;
}
#nav button:hover{
	background-color: #83F084;
}
#nav p{
	font-size: 14px;
}
#content{
	height: 75%;							/*------------overflow-y使用-----------*/
	margin-top: -10px;
	padding: 0px 40px;
	overflow-y: auto;
/*	background-color: blue;*/
}
#centercolumn{
	min-height: 90%;
}
#footer{
	padding: 6px 0px 1px 0px;
	font-size: 20%;
	line-height: 5px;
	text-align: center;
	clear: both;
/*	background-color: pink;*/
}
#footer img{
	vertical-align: middle;
}
/*-----------------------------專題探究學習(學生)：控制-----------------------------*/
#index_btn{
	width: 35%;
	height: 42px;
	cursor: pointer;
}
#news_btn{
	width: 110px;
	height: 40px;
	margin: 5px 10px;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	text-indent: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #000000;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
}
#news_table{
	position: absolute;
	top: 70px;
	right: 160px;
	width: 47%;
	height: 150px;
	padding: 10px;
	font-size: 15px;
	background-color: #F1FAFA;
	border: solid 1px #333;
	display: none;
	overflow: auto;
	z-index: 999;
}
#news_table a{
	color: #000000;
	text-decoration: none;
}
#news_bubble{
	padding: 0.5px 3px 0.5px 3px;
	margin-left: 5px;
	font-size: 5px;
	color: #FFFFFF;
	background-color: red;
	border-radius: 50px;
}
#news_more{
	padding-top: 10px;
	font-size: 14px;
	color: blue;
	cursor: pointer;
}
#func_btn{
	width: 110px;
	height: 40px;
	margin: 5px 8px;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	text-indent: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #000000;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
}
#func_table{
	position: absolute;
	top: 70px;
	right: 24px;
	width: 110px;
	height: 150px;
	font-size: 15px;
	background-color: #F1FAFA;
	border: solid 1px #333;
	display: none;
	z-index: 999;
}
#func_table li{
	margin-left: -40px;
	margin-top: 0px;
	line-height: 30px;
	list-style: none;
	text-align: center;
	cursor: pointer;
}
#func_table li:hover{
	color: #FFFFFF;
	background-color: #70D68A;
}
/*-----------------------------專題探究學習(學生)：首頁-----------------------------*/
#info_field{
	min-height: 160px;
	margin: 5px 10px 5px 10px;
}
#leftcolumn{
	float: left;
	width: 50%;
/*	background-color: red;*/
}
#rightcolumn{
	float: left;
	width: 50%;
/*	background-color: green;*/
}
.display{
	display: none;
}
/*-----------------------------專題探究學習(學生)：地圖-----------------------------*/
.guide_scroll{
	position: fixed;
	top: 75px;
	left: -900px;
	width: 900px;
	z-index: 10;
}
.guide_tab{
	position: absolute;
	top: 105px;
	right: -30px;
	width: 30px;
	font-weight: bolder;
	line-height: 24px;
	background-color: #70D68A;
	color: #FFFFFF;
	text-align: center;
	padding: 9px 0;
	cursor: pointer;

	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.guide_content{
	height: 550px;
	background-color: #F1FAFA;
	background-image: url("/co.in/science/model/images/guide_map.png");
	border: 5px solid #70D68A;
}
/*----------------------------------任務地圖：地圖----------------------------------*/
.guide_map_list{
	list-style-type: none;
}
.guide_map_list li{
	width: 70px;
	height: 70px;
	font-size: 25px;
	font-weight: bolder;
	color: #000000;
	text-align: center;
	line-height: 70px;
	border: 5px solid #FFFFFF;
	border-radius: 300px;
	box-shadow: 3px 3px 5px #888888;
	background-color: #808080;
	cursor: pointer;
}
#guide_map_1-1{
	margin: 100px 0px 0px 0px;
}
#guide_map_2-1{
	margin: -130px 0px 0px 120px;
}
#guide_map_2-2{
	margin: -90px 0px 0px 250px;
}
#guide_map_2-3{
	margin: -30px 0px 0px 370px;
}
#guide_map_2-4{
	margin: -70px 0px 0px 500px;
}
#guide_map_3-1{
	margin: -120px 0px 0px 620px;
}
#guide_map_3-2{
	margin: -50px 0px 0px 740px;
}
#guide_map_3-3{
	margin: 30px 0px 0px 730px;
}
#guide_map_4-1{
	margin: -30px 0px 0px 620px;
}
#guide_map_4-2{
	margin: -90px 0px 0px 490px;
}
#guide_map_5-1{
	margin: -100px 0px 0px 350px;
}
#guide_map_5-2{
	margin: 10px 0px 0px 250px;
}
#guide_map_5-3{
	margin: 20px 0px 0px 340px;
}
#guide_map_5-4{
	margin: -110px 0px 0px 470px;
}
.guide_map{
	background-color: #FFEAAE;
}
#guide_map_finish{
	width: 110px;
	height: 110px;
	margin: -90px 0px 0px 600px;
	line-height: 110px;
}
.guide_box{
	position: relative;
	width: 25%;
	padding: 10px 15px;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #F1FAFA;
	display: none;
	z-index: 99;
}
.guide_box h3{
	margin: 5px 0px;
}
#guide_box_1-1{
	margin: -340px 0px 0px 30px;
	display: block;
}
#guide_box_2-1{
	margin: -390px 0px 0px 160px;
	display: block;
}
#guide_box_2-2{
	margin: -400px 0px 0px 280px;
	display: block;
}
#guide_box_2-3{
	margin: -350px 0px 0px 400px;
	display: block;
}
#guide_box_2-4{
	margin: -340px 0px 0px 530px;
	display: block;
}
#guide_box_3-1{
	margin: -385px 0px 0px 500px;
	display: block;
}
#guide_box_3-2{
	margin: -360px 0px 0px 600px;
	display: block;
}
#guide_box_3-3{
	margin: -240px 0px 0px 580px;
	display: block;
}
#guide_box_4-1{
	margin: -360px 0px 0px 480px;
	display: block;
}
#guide_box_4-2{
	margin: -200px 0px 0px 535px;
	display: block;
}
#guide_box_5-1{
	margin: -390px 0px 0px 220px;
	display: block;
}
#guide_box_5-2{
	margin: -300px 0px 0px 120px;
	display: block;
}
#guide_box_5-3{
	margin: -40px 0px 0px 200px;
	display: block;
}
#guide_box_5-4{
	margin: -240px 0px 0px 330px;
	display: block;
}
.guide_complete{
	margin-left: 140px;
	color: blue;
	cursor: pointer;
	display: block;
}
#guide_mascot_1-1{
	position: absolute;
	top: 30px;
	left: 50px;
}
#guide_mascot_2-1{
	position: absolute;
	top: -20px;
	left: 170px;
}
#guide_mascot_2-2{
	position: absolute;
	top: -30px;
	left: 300px;
}
#guide_mascot_2-3{
	position: absolute;
	top: 20px;
	left: 420px;
}
#guide_mascot_2-4{
	position: absolute;
	top: 25px;
	left: 550px;
}
#guide_mascot_3-1{
	position: absolute;
	top: -10px;
	left: 670px;
}
#guide_mascot_3-2{
	position: absolute;
	top: 20px;
	left: 790px;
}
#guide_mascot_3-3{
	position: absolute;
	top: 130px;
	left: 780px;
}
#guide_mascot_4-1{
	position: absolute;
	top: 180px;
	left: 670px;
}
#guide_mascot_4-2{
	position: absolute;
	top: 170px;
	left: 540px;
}
#guide_mascot_5-1{
	position: absolute;
	top: 150px;
	left: 400px;
}
#guide_mascot_5-2{
	position: absolute;
	top: 240px;
	left: 300px;
}
#guide_mascot_5-3{
	position: absolute;
	top: 340px;
	left: 390px;
}
#guide_mascot_5-4{
	position: absolute;
	top: 310px;
	left: 520px;
}
#guide_mascot_5-5{
	position: absolute;
	top: 310px;
	left: 670px;
}
.guide_illustrate{
	width: 25%;
	height: 45%;
	margin: -270px 0px 0px 25px;
	padding: 10px 5px;
	line-height: 40px;
	border: 3px dashed #59B791;
}
.guide_illustrate h3{
	margin: 0px;
	text-align: center;
}
.guide_illustrate p{
	margin: 0px;
}
.guide_examine{
	float: right;
	width: 40%;
	padding: 8px;
	margin-top: 10px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bolder;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	background-color: #5DBC90;
	cursor: pointer;
}
#guide_examine_area{
	width: 50%;
}
.guide_examine_table{
	width: 98%;
	margin: 0px auto;
	border: 1px solid #000000;
	border-collapse: collapse;			
}
.guide_examine_table th{
	padding: 3px;
	text-align: center;
	border: 1px solid #000000;
	background-color: #6699CC;
}
.guide_examine_table td{
	padding: 3px;
	border-bottom: 1px solid #000000;
	background-color: #D2DEEF;
}
#guide_examine_check{
	margin-top: 10px;
}
/*-----------------------------專題探究學習(學生)：工具-----------------------------*/
.tool_scroll{
	position: fixed;
	top: 420px;
	right: -120px;
	width: 120px;
	z-index: 99;
}
.tool_tab{
	position: absolute;
	top: 30px;
	left: -30px;
	width: 30px;
	font-weight: bolder;
	line-height: 24px;
	background-color: #70D68A;
	color: #FFFFFF;
	text-align: center;
	padding: 9px 0;
	cursor: pointer;

	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}
.tool_content{
	height: 150px;
	text-align: center;
	background-color: white;
	border: 5px solid #70D68A;
}
.tool_content button{
	width: 92%;
	height: 28%;
	margin-top: 5px;
}
/*-------------------------------------前往求助-------------------------------------*/
.help_btn{
	float: right;
	margin-top: -5px;
	margin-bottom: 10px;
}
/*-----------------------------------選擇小組畫面-----------------------------------*/
.project_enter{
	width: 100%;
	padding: 10px;
	font-size: 22px;
	text-align: center;
	border: #8B897A 1px solid;
	border-radius: 10px;
	cursor: pointer;
}
.project_enter:hover{
	background-color: #eee;
}
.project_enter:active{
	color: #6E6E6E;
}
.project_new{
	width: 100%;
	padding: 10px;
	font-size: 22px;
	text-align: center;
	border: #8B897A 1px solid;
	border-radius: 10px;
	background-color: #C3C3C3;
	cursor: pointer;
}
.project_new:hover{
	background-color: #eee;
}
.project_new:active{
	color: #6E6E6E;
}
/*----------------------------------待完成專題任務----------------------------------*/
.stage_title{
	width: 80%;
	height: 30px;
	padding: 30px 0px;
	margin: 0 auto;
	font-size: 26px;
	font-weight: bolder;
	text-align: center;
	background-color: #F1FAFA;
	border: 1px solid #000000;
	cursor: pointer;
}
.stage_describe{
	width: 70%;
	height: 200px;
	padding: 10px 10px 0px 10px;
	margin: -1px auto;
	line-height: 30px;
	text-align: left;
	background-color: #F1FAFA;
	border: 1px solid #000000;
}
.stage_go{
	float: right;
	margin-top: 80px;
	font-size: 18px;
	font-weight: bolder;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
/*-----------------------------------小組協作空間-----------------------------------*/
#leftstage{
	float: left;
	width: 25%;
/*	background-color: red;*/
}
#rightstage{
	float: left;
	width: 75%;
/*	background-color: green;*/
}
/*-----------------------------小組協作空間：待完成任務-----------------------------*/
.stage_title_small{
	padding: 8px;
	text-align: center;
	background-color: #F1FAFA;
	border: 1px solid #000000;
}
.stage_describe_small{
	width: 80%;
	min-height: 175px;
	padding: 5px 10px;
	margin: -1px auto;
	line-height: 24px;
	background-color: #F1FAFA;
	border: 1px solid #000000;
}
.stage_describe_small button{
	font-size: 8px;
	vertical-align: top;
}
.stage_interface{
	float: right;
	margin-top: 5px;
	font-size: 12px;
}
/*------------------------------小組協作空間：活動指引------------------------------*/
#research_guide_area{
	width: 65%;
}
#research_guide_area h4{
	margin: 0px;
}
#research_guide_area figcaption{
	font-size: 14px;
}
#research_guide_area li{
	line-height: 30px;
}
#research_guide_tabs{
	font-family: 微軟正黑體;
	font-size: 18px;
}
#research_guide_field{
	width: 90%;
	padding: 0px 20px;
	border-radius: 20px;
	border: 1px solid #808080;
}
/*------------------------------小組協作空間：協作區域------------------------------*/
.function_stage{
	margin-left: -10px;
	list-style-type: none;
}
.function_stage li{
	float: left;
	padding: 5px 9px;
	margin: -10px -1px -1px 0px;
	background-color: #eee;
	border: 1px solid #000000;
	cursor: pointer;
}
.function_stage li:hover{
	background-color: #B8BBC0;
}
.function_pages{
	clear: both;
	min-height: 395px;						/*--------------最小高度-------------*/
	padding: 15px;
	border: 1px solid #000000;
	overflow: auto;							/*-----------自動增長關鍵-----------*/
/*	display: none;*/
}
/*-------------------------------小組協作空間：討論區-------------------------------*/
.discuss_select{
	margin-left: 38px;
	font-weight: bolder;
	cursor: pointer;
}
.discuss_select img{
	margin-left: 25px;
	vertical-align: middle;						/*-----------圖文對齊-----------*/
}
.discuss_stage{
	margin-left: -38px;
	list-style-type: none;
}
.discuss_stage li{
	float: left;
	padding: 10px 12px;
	margin: 0px -1px 15px 0px;
	background-color: #eee;
	border: 1px solid #000000;
	cursor: pointer;
}
.discuss_stage li:hover{
	background-color: #B8BBC0;
}
.discuss_pages{
	width: 70%;
	height: 480px;
	padding: 15px;
	margin: 0 auto;
	border: 1px solid #000000;
	overflow-y: scroll;
	display: none;
}
.discuss_box_new{
	height: 8%;
	padding-top: 5px;
	font-size: 26px;
	font-weight: bolder;
	color: #1C90FD;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}
.discuss_box{
	height: 120px;
	padding-left: 5px;
	margin-top: 10px;
	border: 1px solid #000000;
}
.discuss_type{
	background-color: #E3687D;
}
.discuss_indent{
	text-indent: 30px;
}
.discuss_bookmark{
	clear: both;
	float: right;
	cursor: pointer;
/*	background-color: red;*/
}
.discuss_btn{
	margin-top: -20px;
	float: right;
	cursor: pointer;
	/*background-color: red;*/
}
.discuss_number{
	position: relative;
	top: -8px;
	left: -5px;
	font-size: 12px;
	font-weight: bolder;
	color: #205080;
}
#discuss_new_area textarea{
	width: 70%;
	height: 100px;
	resize: none; 								/*------------不可拉縮------------*/
}
#discuss_filename{
	margin-top: 8px;
}
#discuss_reply{
	line-height: 10px;
	text-align: center;
}
/*-------------------------------小組協作空間：工作室-------------------------------*/
.steps_menu{
	width: 100%;
	clear: both;
}
.steps_menu, .steps_menu ul, .steps_menu ul li, .steps_menu ul li a{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
	cursor: default;
}
.steps_menu ul ul{							/*--------------全部展開-------------*/
	display: none;
}
.steps_menu > ul > li.active > ul{			/*-----------.active為展開-----------*/
	display: block;
}
.steps_menu > ul > li > a{
	padding: 8px;
	margin-top: -1px;
	color: #000000;
	text-decoration: none;
	background-color: #59B791;
	border: 1px solid #000000;
	cursor: pointer;
}
.steps_menu > ul > li > a:hover{
	background-color: #77DF88;
	color: #FFFFFF;
}
.steps_menu ul ul li a{
	padding: 8px 18px 12px 18px;
	margin-top: -1px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #000000;
	overflow: auto;							/*-----------自動增長關鍵-----------*/
}
.steps_next, .steps_submit{
	float: right;
	margin: 10px 0px 0px 10px;
	clear: both;
}
.steps_box{
	float: left;
	width: 200px;
	min-height: 160px;
	margin: 5px 8px;
	padding: 0px 10px 10px 10px;
	text-align: center;
	border: 1px solid #000000;
}
.steps_check{
	float: right;
	margin: 6px 0px;
	cursor: pointer;
}
.steps_mark{
	font-weight: bolder;
	font-size: 14px;
	text-decoration: none;
	color: red;
}
.steps_hint{
	font-weight: bolder;
	font-size: 14px;
	text-decoration: none;
	color: blue;
}
.steps_tips{
	margin-top: -5px;
	font-size: 16px;
	color: #148BE2;
}
.steps_display{
	display: none;
}
/*-------------------------------小組協作空間：資料庫-------------------------------*/
.database_new{
	float: right;
	height: 30px;
	margin-top: -20px;
	border: 5px solid #1C90FD;
	border-radius: 30px;
	cursor: pointer;
}
.database_new:hover{
	background-color: #DBE4F2;
}
.database_types{
	margin-left: 5px;
	list-style-type: none;
	clear: both;
}
.database_types li{
	float: left;
	padding: 10px 12px;
	margin: 0px 45px 25px 45px;
	background-color: #eee;
	border: 1px solid #000000;
	cursor: pointer;
}
.database_types li:hover{
	background-color: #B8BBC0;
}
.database_pages{
	width: 90%;
	height: 480px;
	padding: 15px;
	margin: 0 auto;
	border: 1px solid #000000;
	overflow-y: scroll;
	display: none;
}
.database_pages table th{
	font-size: 20px;
	text-shadow: #6298c8 1px 1px 1px;
	padding: 10px;
	color: #2e75b6;
	border-bottom: 1px #DBDBDB solid;
}
.database_pages table td{
	font-size: 18px;
	padding: 10px;
	color: #5C6769;
}
.database_pages table tr:nth-child(even){
	background-color: #DBE4F2;
}
.database_pages table tr ~ tr:hover{
	border: 3px #BCBCBC dashed;
}
.database_box{
	height: 25%;
	margin-top: 10px;
	border: 1px solid #000000;
}
#database_field{
	width: 20%;
	height: 200px;
	border: 1px solid #000000;
}
#database_new_area{
	width: 40%;
}
.database_area{
	display: none;
}
.database_area textarea{
	width: 80%;
	height: 80px;
	resize: none;
}
.kwd_block{
	width: 92%;
	min-height: 80px;
	margin-left: 5px;
	border: 1px #AAAAAA solid;
}
.kwd_choosed{
	padding: 3px 5px 3px 5px;
	margin: 5px 5px 5px 5px;
	font-size: 14px;
	text-align: center;
	border: rgb(165,165,165) 1px solid;
	border-radius: 3px;
	display: inline-block;
}
.kwd_deleted{
	margin-left: 5px;
	font-size: 12px;
	color: blue;
	cursor: pointer;
}
.database_figure{
	float: left;
	width: 120px;
	padding: 20px 2px;
	margin: 10px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 10px;
}
.database_figure span{
	font-size: 14px;
}
.database_figure figcaption{
	font-weight: bolder;
}
/*-----------------------------------系統使用說明-----------------------------------*/
#system_use_area{
	width: 75%;
}
#system_use_area h1{
	margin: 25px;
}
#leftsystem{
	float: left;
	width: 24%;
	height: 530px;
	overflow-y: scroll;
/*	background-color: red;*/
}
#rightsystem{
	float: left;
	width: 60%;
	margin-left: 10px;
	text-align: center;
/*	background-color: green;*/
}
.system_menu{
	margin: -10px 0px 0px -20px;
}
.system_menu li{
	width: 90%;
	margin-top: 10px;
	font-size: 20px;
	line-height: 36px;
	list-style: none;
	color: #a5a5a5;
	text-align: center;
	border: 1px #a5a5a5 solid;
	border-radius: 3px;
	cursor: pointer;
}
.system_menu li:hover{
	color: #464646;
	text-shadow: 2px 2px 5px;
}
.system_menu li:active{
	background-color: #eee;
}
/*-------------------------------小組協作空間：共用區-------------------------------*/
.fancybox_box{
	position : fixed;
	width 	 : 100%;
	height 	 : 100%;
	top 	 : 0px;
	left 	 : 0px;
	background: rgba(0,0,0,0.33);
	cursor: default;
	z-index: 99999;
	overflow: auto;
	display: none;
}
.fancybox_area{
	position : relative;
	width 	 : 35%;
	top 	 : 0px;
	left 	 : 0px;
	padding: 5px 30px 20px 30px;
	margin: 80px auto;
	font-size: 18px;
	border: rgb(165,165,165) 3px solid;
	border-radius: 15px;
	border-collapse: separate !important;
	background-color: #F1FAFA;
	overflow: auto;
}
.fancybox_area h2{
	text-align: center;
}
.fancybox_cancel{
	float: right;
	margin-top: 20px;
	cursor: pointer;
}
.fancybox_btn{
	margin-top: 2px;
	margin-left: 5px;
	float: right;
}
.fancybox_table{								/*-----------檢核表樣式-----------*/
	width: 100%;
	font-size: 18px;
	margin-top: -10px;
	border: #272822 1px solid;
}
.fancybox_table th{
	padding: 5px;
	line-height: 30px;
	background-color: rgb(91,155,213);
	border-bottom: 1px solid #1F1F1F;
}
.fancybox_table td{
	padding: 5px;
	font-size: 16px;
	vertical-align: middle;
	background-color: rgb(210,222,239);
	border-bottom: 1px solid #1F1F1F ;
}
.fancybox_mark{
	font-size: 14px;
	color: red;
}
.check_choose{
	text-align: center;
}